<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    </head>
    <body>
        <a-scene>
            <a-assets>
                <img id="sky" src="/static/clear-sky.jpg">
                <a-asset-item id="tree-obj" src="/static/grass-block-obj.obj"></a-asset-item>
                <a-asset-item id="tree-mtl" src="/static/grass-block-obj.mtl"></a-asset-item>
            </a-assets>
            <a-entity id="player" position="0 0 0">
              <a-camera></a-camera>
            </a-entity>
            <a-box position="0 -6 -12" rotation="0 0 0" scale="50 0.1 10" color="#1F5202"></a-box>
            <a-entity obj-model="obj: #tree-obj; mtl: #tree-mtl" position="0 -7 -15" scale="0.5 0.5 0.5"></a-entity>
            <a-entity obj-model="obj: #tree-obj; mtl: #tree-mtl" position="-15 -7 -15" scale="0.5 0.5 0.5"></a-entity>
            <a-entity obj-model="obj: #tree-obj; mtl: #tree-mtl" position="15 -7 -15" scale="0.5 0.5 0.5"></a-entity>
            <a-sky src="#sky"></a-sky>
          </a-scene>                  
    </body>
</html>


