<%- include('cabecalho.ejs') -%>

    <div class="container mt-3">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <center><span class="glyphicon glyphicon-fire"></span>Corpo da página</center>
            </div>
            <div class="card-body">
                <p>Usuário: <%= { dados } %></p>            
            </div>
        </div>
    </div>

<%- include('rodape.ejs') -%>
